*{
    margin:0;
    padding: 0;
}
body{
    overflow: hidden;
}
header{
    text-align: center;
    width: 100vw;
    height: 6vh;
    background-color: #555;
    color: #fff;
    padding-top: 1px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 88vh;
}
.options{
    margin-top: 10px;
}
.search_input1{
    width: 40vw;
    height: 7vh;
    padding: 6px;
}
.search_btn1{
    width: 40vw;
}
#map{
    width: 80vw;
    height: 80vh;
    margin: 10px;
    background-color: #555;
}
footer{
    display: inline-block;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: #555;
}
.copyright{
    text-align: center;
    color: #fff;
    font-weight: 2vh;
    padding-top: 1vh;
}